<h1>Expenses</h1>
<div class="well">
  <%= link_to "+ New Expense", new_expense_path, class: "btn btn-success" %>
  <%= link_to "Download Excel", expenses_path(format: "xls"), class: "btn btn-info" %>
  <div align = "right">
  <%= link_to "By date", expenses_path(:type => 'date'), class: "btn btn-warning" %>
  <%= link_to "By week", expenses_path(:type => 'week'), class: "btn btn-primary" %>
  <%= link_to "By month", expenses_path(:type => 'month'), class: "btn btn-warning" %>
  <%= link_to "By year", expenses_path(:type => 'year'), class: "btn btn-primary" %>
  </div>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Category</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @expenses.count == 0 %>
      <tr>
        <td colspan="5">
          No expenses found.  Click the button above to add a new one.
        </td>
      </tr>
    <% else %>
      <% sort_by_month(@expenses).each do |expense| %>
        <tr>
          <td><%= expense.date %></td>
          <td><%= expense.category.name%></td>
          <td><%= expense.description %></td>
          <td><%= expense.amount %></td>
          <td><%= link_to "Edit", edit_expense_path(expense), class: "btn btn-primary" %>
              <%= link_to "Delete", expense, method: :delete,
                    data: { confirm: "You sure?" }, class: 'btn btn-small btn-danger' %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>