<!DOCTYPE html>
<html>
<head>
  <title>Expense Manager</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "http://yandex.st/bootstrap/3.0.2/css/bootstrap.min.css", media: "all" %>
  <%= javascript_include_tag "application", "chartkick" "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//www.google.com/jsapi" %>
  <%= javascript_include_tag "http://yandex.st/bootstrap/3.0.2/js/bootstrap.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
  <div class="container">
    <p class="notice"><%= notice %></p>
  	<p class="alert alert"><%= alert %></p>
    <%= yield %>
  </div>

</body>
</html>